body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Background color */
    color: #84b4d4; /* Text color */
}

header {
    background-color: #000000; /* Background color */
    color: #84b4d4; /* Text color */
    text-align: center;
    padding: 2rem 0;
}

.navbar-nav .nav-link {
    padding: 0.5rem 36px; /* Space out the words */
}

.navbar-collapse {
    justify-content: flex-start; /* Justify to the left */
}

.navbar-dark .navbar-toggler {
    border-color: #84b4d4; /* Toggler border color */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #84b4d4; /* Toggler icon color */
}

footer {
    background-color: #000000; /* Background color */
    color: #84b4d4; /* Text color */
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
